@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'),
         url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
         url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;  /* Regular font weight */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold font weight */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold font weight */
    font-style: normal;
}

@font-face {
    font-family: 'Farmhouse';
    src: url('/fonts/farmhouse/Farmhouse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

.farmhouse-title {
    font-family: 'Farmhouse', sans-serif;
}

.popins-title {
  font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'ChristmasComeback';
    src: url('/fonts/christmas_comback/ChristmasComeback.otf') format('opentype');
  }
  

.christmas-title {
    font-family: 'ChristmasComeback', sans-serif;
}
  

body {
    font-family: 'Poppins', sans-serif;
}


.scroll-container {
    position: fixed;
    left: 0;
    right: 0;
    will-change: transform;
  
    .ghost {
      width: 100vw;
    }
  }
  
  .thumbnails-container {
    position: relative;
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0px 160px;
    background-color: black;
    border: 40px solid green;
  
    .thumbnails {
      position: relative;
      display: flex;
      border: 20px solid yellow; 
  
      & > *:not(:last-child) {
        margin-right: 45px;
      }
  
      .thumbnail {
        height: 40vh;
        width: 700px;
        background-color: blue;
        border: 15px solid magenta;
      }
    }
  }
  
  