.button-container {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.main-button, .icon-button {
    background-color: white;
    color: #003B5C;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-button {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px; /* Overlap */
}

.button-container:hover .main-button {
    border-radius: 20px 0 0 20px; /* Rounded left */
}

.button-container:hover .icon-button {
    border-radius: 0px 20px 20px 0px; /* Rounded left */
}

.button-container:hover .main-button,
.button-container:hover .icon-button {
    transform: scale(1.05);
}
.button-container .arrow {
    transform: rotate(-45deg);
}
.button-container:hover .arrow {
    transform: rotate(0deg);
}