.paragraph{
    display: flex;
    font-size: 18px;
    line-height: 1;
    padding: 40px;
    max-width: 1280px;
    color: white;
    flex-wrap: wrap;
    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      .shadow{
        position: absolute;
        opacity: 20%;
      }
    }
    
  }

  /* Small screens (sm) - ≥640px */
@media (min-width: 640px) {
  /* Add your styles here */
  .paragraph{
    font-size: 20px;
  }
}

/* Medium screens (md) - ≥768px */
@media (min-width: 768px) {
  /* Add your styles here */
  .paragraph{
    font-size: 24px;
  }
}

/* Large screens (lg) - ≥1024px */
@media (min-width: 1024px) {
  /* Add your styles here */
  .paragraph{
    font-size: 32px;
  }
}

/* Extra large screens (xl) - ≥1280px */
@media (min-width: 1280px) {
  /* Add your styles here */
  .paragraph{
    font-size: 36px;
  }
}

/* 2XL screens (2xl) - ≥1536px */
@media (min-width: 1536px) {
  /* Add your styles here */
  .paragraph{
    font-size: 60px;
  }
}
